<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Solution</h2>
                    <h3 class="section-subheading text-muted">Bringing sustainable, small-scale fertilizer production directly to farmers.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/nitrate.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Innovative nitrogen fixation process</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Based on plasma processes at the gas-water interface, FLOW can generate vital nitrogenous compounds from just air, water, and sunlight.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/greenhouse.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Flexibility to meet farmer's needs</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">FLOW offers variable pH and nitrate concentration to meet specific crop needs. Additionally, it can be readily integrated with indoor farming as well as outdoor irrigation systems.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/sun.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Environmentally friendly fertilizer</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">FLOW consumes small amounts of renewable energy to make fertilizer from air and water. Zero emissions and zero pollution. FLOW provides farmers with self-sufficiency and independence from heavy industry.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/test.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Proven results</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Nitrogen-rich fertilizer water produced by FLOW has shown comparable performance to traditional fertilizers in scientific trials.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4 class="subheading">Click here
                                    <br>To Learn
                                    <br>About FLOW!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>