<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading-problem">The Problem</h2>
                    <h3 class="section-subheading text-muted">Issues in modern fertilizer production</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-industry fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Industry</h4>
                    <p class="text-muted">Fertilizer production is a polluting industrial process exclusive to wealthy large nations. These $1B+ production sites require a similarly massive distribution network.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-leaf fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Environment</h4>
                    <p class="text-muted">Fertilizer production consumes 2% of the global energy supply, and represents 1.5% of global CO2 emissions. Current practices in the fertilizer industry promote runoff and other forms of pollution.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Availability</h4>
                    <p class="text-muted">Smallholder farmers produce 80% of the world's food supply, but cannot afford to make their own fertilizer. They must instead rely on industry and chemical companies to provide it.</p>
                </div>
            </div>
        </div>
    </section>